{% extends 'base.html.twig'%}
{% form_theme formView 'bootstrap_4_layout.html.twig' %}
{% block title %}
Connexion
{% endblock %}
{% block body %}
<h1> Connexion </h1>
{{ form_start( formView) }}
{% if error %}
<div class="alert alert-danger">
{{ error.message }}
</div>
{% endif %}
{{ form_widget( formView ) }}
<button  type = "submit" class="btn btn-success">connexion</button>
{{ form_end(formView) }}
{% endblock %}