{% extends 'base.html.twig'%}

{% block title %}
Accueil

{% endblock %}
{% block body %}
 
  <h1> Nos produit phares</h1>
 
  <div class="row">
    {% for p in product %}
    <div class="col-3">
     
  {% include "product/_product_card.html.twig"%}

      </div>
    </div>
    {% endfor %}
  </div>
  <hr>
  <h2> un service irreprochable</h2>
  <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptates qui aspernatur voluptas odio aut.</p>
  <div class="row">
    {% include "shared/_assurance.html.twig" with {
      'color': 'primary',
      'icone': 'fas fa-truck',
      'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tenetur nihil ex harum, soluta in."

    }%}

    {% include "shared/_assurance.html.twig" with {
      'color': 'success',
      'icone': 'fas fa-check',
      'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tenetur nihil ex harum, soluta in."

    }%}

    {% include "shared/_assurance.html.twig" with {
      'color': 'warning',
      'icone': 'fas fa-lock',
      'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tenetur nihil ex harum, soluta in."

    }%}
  </div>
  
{% endblock %}